* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}

p {
  color: #FFF;
  width: 310px;
  height: 100px;
  margin-top: 40px;
  padding: 20px 10px;
  font-weight: 300;
  text-align: right;
  font-size: 60px;
  overflow-x: auto;
}

.calbtn {
  width: 100%;
  display: grid;
  margin-top: 60px;
  justify-content: center;
  grid-template-columns: 86px 86px 86px 86px;
  grid-template-rows: 86px 86px 86px 86px 86px;
}

.calbtn button {
  color: #ccc;
  border: none;
  outline: none;
  margin: 6px;
  cursor: pointer;
  font-size: 26px;
  font-weight: 500;
  border-radius: 50%;
  background-color: #333;
}

button:nth-of-type(4),
button:nth-of-type(8),
button:nth-of-type(12),
button:nth-of-type(16),
button:nth-of-type(19) {
  color: #FFF;
  background-color: #FF9704;
}

button:nth-of-type(17) {
  border-radius: 43px 43px 43px 43px;
  grid-column-start: 1;
  grid-column-end: 3;
}

button:nth-of-type(1),
button:nth-of-type(2),
button:nth-of-type(3) {
  color: #444;
  background-color: #BBB;
}

.calbtn button:active {
  color: #575757;
  background-color: #CCC;
}